body {
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  font-family: 'Gemunu Libre', sans-serif;
  color: rgb(255,191,63);
  height: 95%;
  background-image: url('https://images.unsplash.com/photo-1529978755210-7f13333beb13?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
  font-weight: 100;
}


.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

h1{
  margin: 0;
  font-size: 200px;
  line-height: 200px;
  font-weight: 100;
}

p {
  margin: 10;
  font-size: 55px;
  color: rgb(187,188,188);
}

.form {
	line-height: 2;
	border: none;
	border-bottom: 2px solid #ebebeb;
	margin-top: 90px;
	width: 650px;
	font-size: 2.9em;
	color: rgb(255,164,0);
	padding: 5px 10px;
	background: transparent;
}

input[type=text]:focus {
  outline: none;
}

button {
	font-family: 'Gemunu Libre', sans-serif;
    line-height: 2.0;
    border: none;
    border:3px solid white;
    font-size: 1.9em;
    color: rgb(255,179,171);
    padding: 5px 30px;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
    opacity: 0.8;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(208,208,206,0.8);
}