<head>
	<link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/app.css">
</head>

<body>
<div class="flex-container">
    <div class="container">
        <h1>Experimental</h1>
		<h1>Project</h1>
       <p class="lead">Enter an email to be part of other <strong><%= totaluser %></strong> 
		  entries in my virtual database. </p>
        <form method="POST" action='/register'>
            <input type="text" name="email" class="form" placeholder="Enter Your Email">
            <button>ENTER</button>
        </form>
    </div>
</div>
</body>